
<p-button label="Back to patients list" type="submit"
(click)="backToPatientList()"></p-button>

<div *ngIf="patient$">
    <h1>Patient details</h1>
    <p><b>Id:</b> {{patient$.id}}</p>
    <p><b>Lastname:</b> {{patient$.name[0].family}}</p>
    <p><b>Name:</b> {{patient$.name[0].given.join(' ')}}</p>
    <p *ngIf='patient$.birthDate'><b>Birth date:</b> {{patient$.birthDate | date:'longDate' }}</p>
    <p *ngIf='patient$.gender'><b>Gender:</b> {{patient$.gender | titlecase}}</p>


    <br/><div *ngIf="patient$.identifier">
        <div *ngFor="let identifier of patient$.identifier; index as i">
            <app-patient-details-identifier [identifier]="identifier" [index]=i></app-patient-details-identifier><br/>
        </div>
    </div>

    <br/><div *ngIf="patient$.address">
        <div *ngFor="let address of patient$.address; index as i">
            <app-patient-details-address [address]="address" [index]=i></app-patient-details-address><br/>
        </div>
    </div>

    <br/><div *ngIf="patient$.maritalStatus">
        <b>Marital status:</b>
        <p *ngIf="patient$.maritalStatus.coding && patient$.maritalStatus.coding[0].code"><b>Code:</b> {{patient$.maritalStatus.coding[0].code}}</p>
        <p *ngIf="patient$.maritalStatus.coding && patient$.maritalStatus.coding[0].display"><b>Status:</b> {{patient$.maritalStatus.coding[0].display}}</p>
    </div>

    <br/><div *ngIf="patient$.telecom">
        <div *ngFor="let telecom of patient$.telecom; index as i">
            <app-patient-details-patient-telecom [telecom]="telecom" [index]=i></app-patient-details-patient-telecom><br/>
        </div>
    </div>

    <br/><div *ngIf="patient$.contact">
        <div *ngFor="let contact of patient$.contact; index as i">
            <app-patient-details-contact [contact]="contact" [index]=i></app-patient-details-contact>
            
        </div>
    </div>

    
    
</div>
