<div>
    <b>Contact {{index+1}}</b>
    <p *ngIf="contact.relationship && contact.relationship[0].text"><b>Relationship:</b>
        {{contact.relationship[0].text}}</p>
    <p *ngIf="contact.name.family"><b>Lastname:</b> {{contact.name.family}}</p>
    <p *ngIf="contact.name.given"><b>Name:</b> {{contact.name.given.join('')}}</p>
    <div *ngFor="let telecom of contact.telecom; index as j"><br />
        <b>Contact {{index+1}} telecommunication {{j+1}}</b>
        <p *ngIf="telecom.system"><b>System:</b> {{telecom.system}}</p>
        <p *ngIf="telecom.value"><b>Value:</b> {{telecom.value}}</p>
        <p *ngIf="telecom.use"><b>Use:</b> {{telecom.use}}</p>
    </div>
</div>